/01_Before/01_LS/Source
/.idea/vcs.xml
/.idea/.gitignore
/.idea/modules.xml
/.idea/SDD_practice.iml
/.idea/workspace.xml
/01_Before/02_LD/Source
/01_Before/03_HT/Source
/01_Before/00_TEST/SourceLS
/01_Before/00_TEST/SourceLD
/01_Before/00_TEST/SourceHT
/01_Before/00_ATEST/03_HT/Source
/01_Before/last/01_LS/Source
/01_Before/last/02_LD/Source
/01_Before/last/03_HT/Source
/01_Before/00_ATEST/03_HT/Try2
/03_Exams/14_LL_Consultatie_07_06_2023/Source
/03_Exams/16_ABC_Proiect_24_06_2023/Source
/03_Exams/17_ABC_Rezervare_22_06_2022/Source
/03_Exams/18_HT_Proiect_22_06_2022/Source
/03_Exams/25_ABC_Rezervare_05_07_2023/Source
/03_Exams/26_LD_Comanda_05_07_2023/Source
/03_Exams/27_LL_Programare_05_06_2024/Source
/03_Exams/28_HT_Candidat_05_06_2024/Source
/03_Exams/29_ABC_Proiect_05_06_2024/Source
/03_Exams/30_LD_Reteta_05_06_2024/Source
/03_Exams/30_LD_Reteta_05_06_2024/Source2
/03_Exams/30_LD_Reteta_05_06_2024/Source3
/03_Exams/30_LD_Reteta_05_06_2024/Source4